
body {
	background-color:green;
	text-align:center;
}

h1 {
	color:#fff;
	text-align: center;
	font-size: 60px;
}

h2 {
	color:#fff;
	text-align: center;
	font-size: 25px;
}

.formulaire{
	position:center;
}

